
body{
  background-color: #7F8487;
}
h1{
  color: #fff;
  font-family: "Monserrat-bold";
  font-size: 4rem;
}
h2{
  padding-top: 30px;
  color: #fff;
  font-family: "Montserrat-bold";
  font-size: 3rem;
  text-align: center;
}
h3{
  color: #fff;
  font-family: "Montserrat-bold";
  font-size: 2rem;
  padding: 30px;

}
.nav{
  font-family: "Montserrat-bold";
  color: #fff;
  text-decoration: none;
  padding: 10rem 0.5rem;
}
  .navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 4.5rem;
    margin-left: 20px;


  }
  .nav-item{
    margin: auto;
  }
  .nav-link{
    font-size: 1.5rem;
    font-family: "Monserrat-light";
    padding-bottom:  6rem;
    padding-right: 50px;

  }

  .container-fluid{
    padding: 3% 15% 7%;
    background-color: #7F8487;
  }
  .Middle-container {
    color: #fff;
    background-color: #433751;
    padding-bottom: 60px;
    font-size: 1.8rem;
    font-family: "Monserrat";
  }
  .Bottom-container{
    color: #fff;
    background-color:#8B7E74 ;
    font-family: "Montserrat";
    font-size: 1.8rem;
    padding-top: 20px;
  }
  .Least-bottom-container{
    text-align: center;
    padding: 50px 0;
    background-color: #C7BCA1;
  }
  p{
    margin-left : 10px;
    margin-bottom: 0;
  }
  .navbar-nav{
    padding-top: 50px;
    padding-right: 50px;
  }
  .download-button{
    margin: 10% 2% 2% 0;
  }
  .Deal{
    width: 550px;
  }
  /* head */
  .Great-pets{
    height:27px;
    margin-bottom: 0;

  }
  /* paragraph */
  .Cat{
    padding-top: 30px;
    padding-bottom:  20px;

  }
  /* images */
  .lactose{
    float: left;
    margin-right: 20px;
  }
  .smelling{
    float: right;
    margin-left: 20px;
  }
  .Tigers{
    float: left;
    margin-right: 20px;
    padding-bottom: 20px;
  }
  .Sweetness{
    float: right;
    margin-left: 20px;

  }
  .pet{
    float: right;
    margin-left:   550px;
    width: 400px;
  }
  .Snowbell{
    width: 400px;
  }
  .Middle-head{
    color: #fff;
  }
/*  fontawesome */
.foot{

  margin: 14px 8px  ;
  color: #fff;
  font-size: 1.5rem;
}
.foot:hover{
  color: cyan;
}
